html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto ;
    padding: 0 32px;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
   font-size: 16px;
   line-height: 1.5;
   background-color: #282e2b;
   font-family: "Roboto";
}

h1 , h2 , h3 ,h4 ,h5 , h6 {
    font-family: "Source Serif Pro" , serif;
}

.article-header {
  padding: 32px 0;
  color: white;

}

.article-header h1 {
    font-size: 56px;
    font-family: "Source Serif Pro" , serif;
    text-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 48px;
    text-transform: capitalize;
}


.article-header h3 {
    font-size: 32px;
    color: red;
    font-weight: 700;
}

.article-header time {
    font-size: 32px;
}


p{
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
    line-height: 1.7;
}


h2 {
    font-size: 48px;
    color: white;
    margin-top: 48px;
    text-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}